@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    background: #f5f5f5;
}
@supports (padding-bottom:constant(safe-area-inset-bottom)){
    body{padding-bottom:constant(safe-area-inset-bottom);}
}

@supports (padding-bottom:env(safe-area-inset-bottom)){
    body{
        padding-bottom:env(safe-area-inset-bottom);
    }
}
